@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: rgb(31, 25, 54);
	color: #fff;
	overflow-x:hidden;
	font-family: "poppins",sans-serif;
}
.heading{
	background-color: hsl(0, 0%, 0%);
	text-align: center;
	font-size: 3rem;
	box-shadow: 10px 5px 10px rgba(0,0,0,0.5);
}

.title{
	box-shadow: 10px 5px 10px rgba(0,0,0,0.5);
	padding: 1rem 0 rem 1 rem 0.7rem;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color:#fff;
	font-size:1.3 rem;
}

.title{
	box-shadow: 10px 5px 10px rgba(0,0,0,0.5);
	padding:1rem 0rem 1rem 0.7rem;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color:#fff;
	font-size:1.3rem;
	background-color: #18486e;
}

.year{
	background-color: #fff;
	padding:0.2rem 0.8rem;
	border-radius:10px;
	color:#2c3e50;
	font-size:0.9rem;
	margin:0 0.5rem;
}

#timeline ul {
	padding:50px;
}

#timeline ul li {
	list-style:none;
	position:relative;
	width: 7px;
	margin:0 auto;
	padding-top:50px;
	background-color: #6e8286;
}

#timeline ul li .box{
	position:relative;
	bottom: 0;
	width: 450px;
	background-color: #bed0eb;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	border-radius: 5px;

}

#timeline p{
	padding:1rem 0 1rem 1rem;
	color:#000;
}

#timeline button{
	margin:0.5rem 0rem 1rem 1rem;
	outline:none;
	border:1px solid #ddd;
	padding: 0.5rem 1rem;
	border-radius:50px;
	background:transparent;
	transition:all 0.3s ease-in;
	font-family: inherit;
	cursor: pointer;
}

#timeline button:hover{
	background-color: #17292a;
	color:#fff;
}

#timeline ul li:nth-child(odd) .box{
	left: 50px;
	
}
#timeline ul li:nth-child(even) .box{
	left: -500px;
}

#timeline ul li i{
	position:absolute;
	left:50%;
	width:45px;
	height:45px;
	background:#2c3e50;
	transform: translateX(-50%);
	border-radius: 50%;
}

#timeline .fa-brands, #timeline .fa-solid{
	display:flex;
	align-items:center;
	justify-content: center;
	font-size:1.7rem;
	color: #8887e4;
}

#timeline .box:before {
	content:"";
	position: absolute;
	top: 5px;
	width: 0;
	right: 0;
	border-style:solid;

}

#timeline ul li:nth-child(odd) .box:before{
	left:15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #18486e;
}